<div class="panel panel-default panel-table">
	<div class="panel-heading">
		Mes jobs
		<span class="panel-subtitle">Retrouvez ici l'ensemble de vos jobs</span>
	</div>
	<div class="panel-body">
		<div class="table-responsive noSwipe">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th style="width:1%;">État</th>
						<th style="width:15%;">Nom</th>
						<th style="width:22%;">Dernière mise à jour</th>
						<th style="width:5%;">
						</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let job of (this.jobs$ | async)">
						<td class="cell-status">
							<app-job-item-status [job]="this.job"></app-job-item-status>
						</td>
						<td class="cell-detail">
							<span>{{ this.job.name }}</span>
							<span class="cell-detail-description">{{ this.job.description }}</span>
						</td>
						<td class="cell-detail">
							<span>{{ this.job.lastUpdate | frdate:'dd MMM yyyy' }}</span>
							<span class="cell-detail-description">{{ this.job.lastUpdate | date:'hh:mm'}}</span>
						</td>
						<td class="text-right">
							<app-job-item-action
								[job]="this.job"
								(start)="onStartJob($event)"
								(open)="onOpenReport($event)"
							>
							</app-job-item-action>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
